<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сравнение клиентов</title>
</head>
<body>
    {% if proccesed_file is not none %}
        <h3>Файл успешно загружен и обработан.</h3>
        <a href={{proccesed_file}}>Файл с результами</a>
    {% else %}
        <p>С какой группой клиентов будет выполняться сравнение?</p>
        <select required name="cmp_group" form="upload_file">
            <option selected disabled>Выберите группу</option>
            <option  value="all">все</option>
            <option value="active">только активные</option>
        </select>
{#        <p>Загрузите список клиентов банка в формате <a href="./meta/Шаблон запроса.xlsx">шаблона</a>.</p>#}
        <p>Загрузите excel-файл с клиентами в формате, где 1-й столбец - ИНН, 2-й столбец - КПП, 3-й столбец - client_key (инн_кпп).</p>
        <p style="color: red; ">1-й столбец является обязательным для заполнения.</p>
        {% if error is not none %}
            <h4><span style="color: red; ">{{error}}</span></h4>
        {% endif %}
        <form id='upload_file' method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Загрузить</button>
        </form>
        <p>Среднее время обработки файла составляет 1-2 минуты.</p>
    {% endif %}
</body>
</html>
